html
  include ../includes/head.pug
  body
    include ../includes/nav.pug
    div.container
      h1 Results
      div.userContainer
        if user != undefined
          div.userContainer
            div.user
              div.username Username
              div.name Name
              div.email Email
              div.age Age
              span.edit
            div.user
              div.username #{user.username}
              div.name #{user.name}
              div.email #{user.email}
              div.age #{user.age}
              span.edit
                a(href='/edituser/'+user.name)
                  i.far.fa-edit
                a(href='/deleteuser/'+user.name)
                  i.fas.fa-trash
        else
          div Sorry, there weren't any users with the username of #{username}